<div class="row">

    <div class="col l6">
    
        <%= image_tag @content.cover.url, class: "responsive-img show-img" %>
        
    </div>
    
    <div class="col l6">
    
        
          
        <h1 class="show-title"><%= @content.title %></h1>

        <h4 class="show-price"> <%= number_to_currency(@content.price) %></h4>
    
        <p> Sold by  <%= @content.user.name %></p> 
        
        <p>
     
          <%= @content.description %>
        </p>

        
<% if current_user %>

    <%= form_tag buy_path(slug: @content.slug) do %>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-amount="<%= (@content.price * 100).floor %>"
        data-name="SharingPal"
        data-description="<%= @content.title %>"  
        data-email="<%= current_user.email %>"   
        data-locale="auto">
      </script>
    <% end %>
        
       <!-- <div class="wrapper">
 
<div class="wrapper">
 
    <div id="map">
        <span class="helper">Click the button below to show your location on the map</span>
        <img id="preloader" src="images/257.gif">
    </div>
 
    <a class="button" href="" title="">Find My Location</a>
 
    <div id="results">
        <span class="longitude"></span><br>
        <span class="lattitude"></span><br>
        <span class="location"></span>
    </div>
     
</div><!--End Wrapper-->
            
<% else %>
    <p><%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to buy </p>

<% end %>
        
    
    </div>
    
</div>



<% if @content.user == current_user %>
    <%= link_to 'Edit', edit_content_path(@content) %> 
<% end %>

<%= link_to 'Back to contents', contents_path %>
