<p id="notice"><%= notice %></p>

<div class="row">

    <div class="col l6">
    
        <%= image_tag @content.cover.url, class: "responsive-img show-img" %>
        
    </div>
    
    <div class="col l6">
    
        
          
        <h1 class="show-title"><%= @content.title %></h1>

        <h4 class="show-price"> <%= number_to_currency(@content.price) %></h4>
    
        <em> Sold by </em> <%= @content.user.name %> 
        
        <p>
     
          <%= @content.description %>
        </p>

        
    
    </div>
    
</div>

<%= form_tag buy_path(slug: @content.slug) do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= @content.price %>"
    data-name="SharingPal"
    data-description="<%= @content.title %>"  
    data-currency='usd'    
    data-locale="auto">
  </script>
<% end %>

<% if @content.user == current_user %>
    <%= link_to 'Edit', edit_content_path(@content) %> 
<% end %>
<%= link_to 'Back to contents', contents_path %>
